<table class="admin-report" width="545">
  <tr>
    <td valign="top"><%=t("ext_galleries_title")%>:</td>
    <td><%= f.text_field :title, {"style" => "width:500px"} %></td>
  </tr>
  <tr>
    <td valign="top"><%=t("ext_galleries_caption")%>:</td>
    <td><%= f.text_field :caption, {"style" => "width:500px"} %></td>
  </tr>
</table>
